* {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.banner {
    text-align: center;
    width: 100%;
    padding: 15vmin 0;
    margin: 0 0;
    font-size: 8vmin;
    color: #007171;
    background-image: linear-gradient(#ffd3aa, white, white, white, white);
    z-index: -1;
    position: fixed;
}

.banner > h1 {
    text-align: center;
    vertical-align: center;
    width: 100%;
    color: #007171;
    letter-spacing: 0.02em
}

.banner > div > h2 {
    text-align: center;
    vertical-align: center;
    width: 100%;
    color: #007171;
    font-size: 5vmin;
    animation-name: topWheel;
    animation-duration: 2s;
}

.mountains {
    width: 100%;
    height: auto;
    z-index: -2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.main {
    padding-top: 5vmin;
    background-color: #007171;
}

.first {
    padding: 0 5vmin 15vmin;
}

.first > h1 {
    text-align: center;
    padding: 1vmin;
}

.first > p {
    
}

.separator {
    text-align: center;
    vertical-align: center;
    width: 100%;
    color: #505050;
    font-size: 5vmin;
}

@media only screen and (max-width: 1200px) {
    .banner > div {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 8vmin;
        position: fixed;
    }
    .separator, .banner > div > h2 {
        font-size: 2.5vmin;
    }
  }

  @media only screen and (max-width: 230px) {
    .banner {
        font-size: 3vmin;
    }
  }

