* {
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.banner {
    text-align: center;
    width: 100%;
    padding: 15vmin 0;
    margin: 0 0;
    font-size: 8vmin;
    color: #007171;
    background-image: linear-gradient(#ffa34d 5%, #e3e5ff 40%, white);
    z-index: -1;
    position: fixed;
}

.banner>h1 {
    text-align: center;
    vertical-align: center;
    width: 100%;
    color: #007171;
    letter-spacing: 0.02em;
    background-image: linear-gradient(to bottom, rgba(255, 225, 200, 0), rgba(255, 225, 200, 0.2), rgba(255, 225, 200, 0.3), rgba(255, 225, 200, 0.2), rgba(255, 225, 200, 0));
}

.banner>div>h2 {
    text-align: center;
    vertical-align: center;
    width: 100%;
    color: #007171;
    font-size: 5vmin;
    animation-duration: 2s;

}

.mountains {
    width: 100%;
    height: auto;
    z-index: -2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.drips {
    width: 100%;
    height: auto;
    z-index: -1;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: white;
}

.first {
    padding: 0 5vmin 15vmin;
    background-color: #007171;
    text-align: center;
}

.second {
    padding: 0 5vmin 15vmin;
    background-color: #ffffff;
    text-align: center;
    color: #007171;
}

.second>h1,
.second>p {
    color: #007171;
}

.first>h1 {
    text-align: center;
    padding: 1vmin;
}

p.left {
    text-align: left;
    font-size: 2.5vmin;
    margin: 0 43vw 2.5vmin 23vw;
    font-weight: 300;
}

p.right {
    text-align: right;
    font-size: 2.5vmin;
    margin: 0 23vw 2.5vmin 43vw;
    font-weight: 300;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

.buttonDivCyan {
    width: 100%;
    text-align: center;
}

.buttonDivCyan li {
    width: 15vw;
    display: inline-block;
    background: white;
    background: linear-gradient(to right, white 50%, #007171 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    margin: 3vh 4vw;
    transition: all 0.1s ease;
    outline: white 3px solid;
}

.buttonDivCyan li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    cursor: pointer;
}

.buttonDivCyan li:hover {
    background-position: right bottom;
}

.buttonDivCyan li:hover a {
    color: white;
    animation-name: cyanToWhite;
    animation-duration: 0.3s;
}

.buttonDivCyan li a {
    font-size: 2.5vmin;
    font-weight: 300;
    color: #007171;
}

@keyframes cyanToWhite {
    from {
        color: #007171;
    }

    to {
        color: white;
    }
}

.buttonDivWhite {
    width: 100%;
    text-align: center;
}

.buttonDivWhite li {
    width: 15vw;
    display: inline-block;
    background: #007171;
    background: linear-gradient(to left, #007171 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin: 3vh 4vw;
    transition: all 0.1s ease;
    outline: #007171 3px solid;
}

.buttonDivWhite li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    cursor: pointer;
}

.buttonDivWhite li:hover {
    background-position: left bottom;
}

.buttonDivWhite li:hover a {
    color: #007171;
    animation-name: whiteToCyan;
    animation-duration: 0.3s;
}

.buttonDivWhite li a {
    font-size: 2.5vmin;
    font-weight: 300;
    color: white;
}

@keyframes whiteToCyan {
    from {
        color: white;
    }

    to {
        color: #007171;
    }
}

.separator {
    text-align: center;
    vertical-align: center;
    width: 100%;
    color: #505050;
    font-size: 5vmin;
}

#header2 {
    padding: 5vh 0;
}

@media only screen and (max-width: 1200px) {
    .banner>div {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 8vmin;
        position: fixed;
    }

    .separator,
    .banner>div>h2 {
        font-size: 2.5vmin;
    }

    p.left {
        text-align: left;
        font-size: 2.5vmin;
        margin: 0 28vw 2.5vmin 23vw;
        font-weight: 300;
    }

    p.right {
        text-align: right;
        font-size: 2.5vmin;
        margin: 0 23vw 2.5vmin 28vw;
        font-weight: 300;
    }
}

@media only screen and (max-width: 230px) {
    .banner {
        font-size: 3vmin;
    }
}

.dropdown-parent {
    transition: all 1s ease;
    cursor: default;
}

.dropdown-parent > .content {
    transition: all 1s ease;
    cursor: default;
    display: none;
    font-size: 0;
    text-align: center;
    width: 13vw;
}

.dropdown-parent > .main {
    cursor: default;
}

.dropdown-parent:hover > .content {
    display: table;
    font-size: 2.5vmin;
}

#return {
    margin:  3vh 0vw;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
}

#return > li {
    width: 10vw;
    display: inline-block;
    background: #007171;
    background: linear-gradient(to left, #007171 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.1s ease;
}

#return > li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    cursor: pointer;
}

#return > li:hover {
    background-position: left bottom;
}

#return > li:hover a {
    color: #007171;
    animation-name: whiteToCyan;
    animation-duration: 0.3s;
}

.buttonDivWhite li a {
    font-size: 2.5vmin;
    font-weight: 300;
    color: white;
}
